
<dialog-line-container class="layout-row flex">
  <div class="flex-70">
    <md-input-container class="md-default-theme md-block md-custom-input-container">
      {{#paper-subheader}}Dialog Line{{/paper-subheader}}
      <div
        class="md-input-custom"
        contenteditable="true"
        spellcheck="false">{{value}}</div>


      <div class="md-errors-spacer">
          <div class="md-char-counter">Word count: {{wordCount}}</div>
          <div class="md-char-counter">Language: {{localLanguageName}}</div>
      </div>
    </md-input-container>

    <div class="layout-row">
      {{#paper-button raised=true primary=true onClick=(action "onSave")}}Save Changes{{/paper-button}}
      {{#paper-button raised=true onClick=(action "onCancel")}}Return without saving{{/paper-button}}
    </div>
  </div>
  <div class="layout-column flex-30">
    <div class="flex">
      {{#if variables}}
        {{#paper-list}}
          {{#paper-subheader}}Used Variables{{/paper-subheader}}

          {{#each variables as |variable|}}
            {{#paper-item as |controls|}}
              <p>{{variable}}</p>
              <div class="md-secondary-container">
                {{#controls.button secondary=true iconButton=true}}
                  {{paper-icon "label"}}
                {{/controls.button}}
              </div>
            {{/paper-item}}
          {{/each}}
        {{/paper-list}}
      {{else}}
        <h1>No Variables</h1>
        <p>
          This dialog line currently does not use variables. Variables
          adds variation to your dialogs and makes them more interesting.
          In case you don't know how to use variables see this Tutorial.
        </p>
      {{/if}}

    </div>
  </div>
</dialog-line-container>
