<flow-input-container>
    {{#each model.inputs as |input|}}
      {{flow-input
          scrollOffsetX=scrollOffsetX
          scrollOffsetY=scrollOffsetY
          parent=model
          model=input
          acceptRerouting=(action "acceptRerouting")
          cancelReroute=(action "cancelReroute")}}
    {{/each}}
</flow-input-container>

  <flow-content>

    <div class="actor">
      {{paper-icon "person" size=48}}
    </div>
    <div class="message">
      <span>{{prune model.message 50}}</span>
    </div>
    <div class="action">
      {{#paper-button iconButton=true onClick=(action "elementEdit")}}
         {{paper-icon "edit"}}
      {{/paper-button}}
    </div>
<!--
    <ul>
      <li>Neighbours:
        <ul>
          {{#each model.neighbours as |neighbour|}}
            <li>{{neighbour.height}}</li>
          {{/each}}
        </ul>
      </li>
      <li>Margin: {{model.margin}}</li>
      <li>Width: {{model.width}}, Height: {{model.height}} </li>
      <li>Children: {{model.connectedChildren.length}}
        <ul>
          {{#each model.connectedChildren as |child|}}
            <li>{{child.childrenWidth}}</li>
          {{/each}}
        </ul>

      </li>
      <li>ChildrenWidth: {{model.childrenWidth}}</li>
      <li>X:{{model.y}}    Y:{{model.x}}</li>
    </ul>
  -->
  </flow-content>

<flow-output-container>
  {{#each connectedOutputs as |output|}}

      {{flow-output
          scrollOffsetX=scrollOffsetX
          scrollOffsetY=scrollOffsetY
          parent=(mut model)
          model=output
          onReroute=onReroute
          connectToNewBlock=(action "connectToNewBlock")}}
          {{#if output.isConnected}}
    {{/if}}
  {{/each}}
  {{#each unconnectedOutput as |output|}}
      {{flow-output
          scrollOffsetX=scrollOffsetX
          scrollOffsetY=scrollOffsetY
          parent=(mut model)
          model=output
          onReroute=onReroute
          connectToNewBlock=(action "connectToNewBlock")}}
          {{#if output.isConnected}}
    {{/if}}
  {{/each}}
</flow-output-container>
