
  {{!--

###################################################################################################################

  --}}
  <div class="line-container">

    <div class="side-toolbar">
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          {{#paper-button iconButton=true onClick="returnToOverview"}}
            {{paper-icon "navigate_before"}}
          {{/paper-button}}
          <h2>
        Toolbar with Icon Buttons
      </h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true}}
            {{paper-icon "favorite"}}
          {{/paper-button}}
          {{#paper-button iconButton=true}}
            {{paper-icon "more_vert"}}
          {{/paper-button}}
          {{#paper-button raised=true primary=true}}
            Save Changes
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
    </div>

    <div class="side-meta-toolbar">
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>
        Change History
      </h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
    </div>

    <div class="side-content">
      <div class="previous-messages">
        {{#each model.inputs as |input|}}
          {{#if input.connection.output.belongsTo}}
            <div class="message">
              <p>
                {{input.connection.output.belongsTo.message}}
              </p>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="message-content">
        {{variable-editor value=model.message variables=definedVariables}}
      </div>
      <div class="next-messages">
        {{#each model.outputs as |output|}}
          {{#if output.connection.input.belongsTo}}
            <div class="message">
              <p>
                {{output.connection.input.belongsTo.message}}
              </p>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="side-second-right-sidebar">
      {{#paper-list}}
        {{#paper-subheader}}2018-05-13{{/paper-subheader}}
        {{#paper-item class="md-2-line" }}
          <img style="width:44px; height:44px; border-radius: 50% 50%;padding:10px;margin-left: -10px" src="https://i.pinimg.com/favicons/752f4d52fef0b2c6f4c7a433f3f7b0a4ec60aa95d344120ae28c2510.png?d7bf100265daf50edc8810b67b9649e2" alt="avatar" />
          <div class="md-list-item-text">
            <h3>Gil Engel</h3>
            <p>Add new messages</p>
          </div>
        {{/paper-item}}
        {{#paper-item class="md-2-line" }}
          <img style="width:44px; height:44px; border-radius: 50% 50%;padding:10px;margin-left: -10px" src="https://i.pinimg.com/favicons/752f4d52fef0b2c6f4c7a433f3f7b0a4ec60aa95d344120ae28c2510.png?d7bf100265daf50edc8810b67b9649e2" alt="avatar" />
          <div class="md-list-item-text">
            <h3>Gil Engel</h3>
            <p>Add new messages</p>
          </div>
        {{/paper-item}}


        {{#paper-subheader}}2018-03-13{{/paper-subheader}}
        {{#paper-item class="md-2-line" as |controls|}}
          <img style="width:44px; height:44px; border-radius: 50% 50%;padding:10px;margin-left: -10px" src="https://i.pinimg.com/favicons/752f4d52fef0b2c6f4c7a433f3f7b0a4ec60aa95d344120ae28c2510.png?d7bf100265daf50edc8810b67b9649e2" alt="avatar" />
          <div class="md-list-item-text">
            <h3>Gil Engel</h3>
            <p>Create initial blank update for conversation between multiple characters</p>
          </div>
          <div class="md-secondary-container">
            {{#controls.button secondary=true}}
              {{paper-icon "swap_vert"}}
            {{/controls.button}}
            {{#controls.button secondary=true}}
              {{paper-icon "message"}}
            {{/controls.button}}
          </div>
        {{/paper-item}}
        {{#paper-item class="md-2-line" }}
          <img style="width:44px; height:44px; border-radius: 50% 50%;padding:10px;margin-left: -10px" src="https://i.pinimg.com/favicons/752f4d52fef0b2c6f4c7a433f3f7b0a4ec60aa95d344120ae28c2510.png?d7bf100265daf50edc8810b67b9649e2" alt="avatar" />
          <div class="md-list-item-text">
            <h3>Gil Engel</h3>
            <p>Add new messages</p>
          </div>
        {{/paper-item}}
      {{/paper-list}}
    </div>
    <div class="side-right-sidebar">
      {{#md-option-group-container as |container|}}
        {{#container.group title="Speaker" icon="insert_emoticon" }}

        {{/container.group}}
        {{#container.group title="Statistics" icon="show_chart" }}
          {{language}}
          {{wordCount}}
        {{/container.group}}
        {{#container.group title="Variables" icon="alternate_email" }}
          {{#if definedVariables}}
            {{#paper-list}}
              {{#each definedVariables as |variable|}}
                {{#paper-item}}
                  {{paper-icon "label"}}
                  <p>{{variable}}</p>
                {{/paper-item}}
              {{/each}}
            {{/paper-list}}
          {{else}}
            <p>
              This dialog line currently does not use variables. Variables adds variation to your dialogs and makes them more interesting. In case you don't know how to use variables see this Tutorial.
            </p>
          {{/if}}
        {{/container.group}}
        {{#container.group title="Condition" icon="gesture" }}

        {{/container.group}}
      {{/md-option-group-container}}
    </div>
  </div>
